.main-nav ul {
  flex-wrap: wrap;
}

.new-link {
  position: relative;
  margin-right: 28px !important;
}

.remove-button {
  border: none;
  background: none;
  position: absolute;
  right: -18px;
  top: 0;
  color: white;
  cursor: pointer;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.photo-container {
  position: relative;
}

.photo-container h2 {
  margin: 0 auto 30px;
}

.loading {
  position: absolute;
  top: 25px;
  left: 47%;
}